#footer
  background: color-footer-background
  padding: 50px 0
  color: color-grey
  figure
    margin: 0
  address {
    display: block
    margin-top: 20px
    font-size: 15px
  }
  ul {
    margin: 20px 0
  }
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em