<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<!-- <figure>
  <img src="/images/fig-hero-secondary.png" width="300" alt="">
</figure> -->

<style>
  @media (min-width: 768px) {
    #greeting {
      position: sticky;
      float: left;
      top: 20px;
    }
  }
  #greeting p {
    line-height: 1.7;
  }
  #greeting p + p {
    margin-top: 20px;
  }
  #greeting p strong {
    font-weight: bold;
  }
</style>

<div id="greeting">
  <div class="col">
    <p>
      안녕하세요,<br>
      하이테크감정평가법인 본부장 유은혜입니다.<br>
      경쟁력 있는 감정가와 실력으로 돕고 있어요❤️
    </p>
    <p>
      <strong>"덕분에 좋은 결과 나왔어요."</strong><br>
      <strong>"다음 물건도 잘 부탁해요."</strong><br>
      <strong>"유본부장님께 맡기길 잘했어요."</strong><br>
    </p>
    <p>
      의뢰인께 도움을 드릴 수 있어 감사합니다.<br>
      제가 도울 수 있는 이유는 회사의 특별한 시스템 때문입니다.<br>
    </p>
    <p>
      하이테크감정평가법인은 고유의 규칙이 있어요.</p>
    <p>
      '서로 배려하고 도울 때 발생하는 더 큰 시너지'<br>
      '스스로 생각하고 만들어내는 자율성'<br>
      이것을 베이스로 적극적으로 일하고 있습니다.
    </p>
    <p>
      최적의 감정금액과<br>
      안심할 수 있는 손해배상책임확약서.<br>
      두 수 앞서 창의적인 시스템과 서비스를 구축하는 대표님.
    </p>
    <p>
      잘하고 있고 잘할 수밖에 없는 감정평가법인에서<br>
      앞으로도 의뢰인을 최선으로 돕겠습니다.
    </p>
    <p>
      유은혜 본부장
    </p>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
  #megatech-theory {
    margin: 50px auto;
    padding: 50px 20px;
    border: 1px solid var(--color-border);
    box-shadow: 0 10px 50px -30px rgba(0,0,0,0.3);
    font-family: 'Noto Serif KR', serif;
  }
  #megatech-theory h1 {
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-text);
  }
  #megatech-theory h1 big {
    display: block;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.1em;
  }
  #megatech-theory h1 small {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.7;
  }
  #megatech-theory h2 {
    margin: 40px 0 20px;
    font-size: 20px;
    color: var(--color-text);
  }
  #megatech-theory p {
    margin: 0 0 20px;
    line-height: 1.8;
    color: var(--color-text);
    font-size: 14px;
  }
  @media (min-width: 768px) {
    #megatech-theory {
      margin: -40px 0 50px 50%;
      padding: 40px;
    }
    #megatech-theory h1 big {
      font-size: 32px;
    }
    #megatech-theory h1 small {
      font-size: 16px;
    }
    #megatech-theory p {
      font-size: 16px;
    }
  }
</style>
<section id="megatech-theory">
  <h1>
    <big>메가테크이론</big>
    <small>Megatech Theory</small>
  </h1>

  <h2>1. 공개성</h2>
  <p>
    메가테크는 모든 멤버와 정보를 공유합니다.<br>
    최소한 각 멤버가 속한 본부 내에서는 정보를 공유하며, 이를 효율적으로 관리하기 위해 메가테크는 본부를 세분화했습니다.<br>
    이것이 저 김제프용진이 개인적으로 각 멤버들과 소통을 제한하는 이유입니다.
  </p>

  <h2>2. 규칙성</h2>
  <p>
    메가테크는 모든 업무를 규칙으로 정리하고 관리합니다.<br>
    이러한 규칙성은 멤버 간 감정 소모를 최소화하며, 메가테크 내 멤버 간 신뢰를 극대화하고 업무 효율을 높입니다.<br>
    규칙성은 멤버들의 행동을 예측 가능하게 하여 서로를 이해하기 쉽게 만들게 됩니다.<br>
    또한 메가테크 규칙은 공개성, 공정성, 형평성, 친절함의 근간이 됩니다.
  </p>

  <h2>3. 친절함</h2>
  <p>
    메가테크는 멤버 간 친절함을 통해 메가테크 커뮤니티에 대한 신뢰를 구축합니다.<br>
    멤버 간의 친절함은 감사함을 낳고, 이는 서로 간의 신뢰로 이어집니다.<br>
    이러한 신뢰는 커뮤니티 전체로 퍼져나가 다시 멤버 간 신뢰와 감사를 강화하며,<br>
    결과적으로 각 멤버의 스트레스를 줄이고 삶의 행복도를 높여줍니다.
  </p>

  <h2>4. 공정성</h2>
  <p>
    메가테크는 특정 멤버에게 편향되거나 권력이 집중되는 것을 방지합니다.<br>
    권력의 시스템화와 분산화를 통해 메가테크의 사유화를 방지하며,<br>
    저 김제프용진 역시 메가테크 규칙과 공개성을 통해 권력을 최소화하려 노력합니다.<br>
    궁극적으로는 저 김제프용진이 현재 가진 최소한의 권력 마저 시스템 발전을 통해 완전히 없애는 것이 목표입니다.<br>
    이처럼 모든 멤버가 공평하고 정당하게 대우받는 조직을 만든 것은 우리의 자부심입니다.
  </p>

  <h2>5. 형평성</h2>
  <p>
    형평성은 공정성과 유사하지만 균형에 좀 더 중점을 둔 개념입니다.<br>
    공정성이 규칙과 공개성을 바탕으로 공평하고 정당한 대우를 받는 것이라면,<br>
    형평성은 능력의 차이에 관계없이 모든 메가테크 멤버가 소외되지 않고 존중받으며 당당하게 조직 생활을 할 수 있게 하는 것입니다.<br>
    이는 메가테크 레거시를 강화합니다.
  </p>

  <h2>6. 평범함</h2>
  <p>
    대한민국의 서열화된 교육 시스템은 과도한 순위 매기기와 경쟁을 조장합니다.<br>
    이는 평범해서는 안 된다는 강박으로 이어지며, 타인을 이기기 위해 자신이 특별해야 한다고 생각하게 됩니다.<br>
    하지만 우리에게는 평범함을 인정할 수 있는 용기가 필요합니다.<br>
    자기자랑과 타인을 무시하기 바쁜 사람 주변에 진정한 친구가 있을까요?<br>
    그런 사람들이 모여 끈끈한 조직을 만들 수 있을까요?<br>
    모래성 같은 조직이 특별할 수 있을까요?<br>
    조직 없는 개인이 조직을 이길 수 있을까요?<br>
    이러한 이유로 메가테크는 평범함을 추구합니다.
  </p>

  <h2>7. 차선의 가치</h2>
  <p>
    우리는 최선만을 추구하다 욕심이 지나쳐 인생을 망치기도 합니다.<br>
    불필요한 욕심과 목표는 현재의 행복을 해칩니다.<br>
    메가테크는 최선이 아닌 차선을 추구하며,<br>
    현재 우리 주변을 돌아보고 감사할 수 있는 여유를 중시합니다.<br>
    미래가 아닌 현재를 살아갑니다.
  </p>

  <h2>8. 다양성</h2>
  <p>
    우리 각자는 모두 다르며, 이것이 바로 다양성입니다.<br>
    나를 기준으로 타인을 평가해서는 안 되며,<br>
    마찬가지로 나 역시 다른 사람의 기준으로 평가받지 않아야 합니다.<br>
    우리 각자는 고유한 모습을 가지고 있으며,<br>
    이를 인정할 때 우리는 진정한 가족이 될 수 있습니다.
  </p>

  <h2>9. 자율성</h2>
  <p>
    메가테크는 여러분의 삶의 일부이지만,<br>
    강압적이지 않습니다.<br>
    강압적인 삶은 불행을 초래하기 때문입니다.<br>
    이러한 자율성은 메가테크 규칙으로 구현되어 있습니다.
  </p>

  <br>
  <hr>
  <br>

  <p>하이테크감정평가법인<br>대표 김제프용진</p>

</section>
