<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<style>
  #loading {
    margin: 100px 0;
    text-align: center;
  }
  #cases {
    padding: 0 0 50px;
  }
  #cases ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  #cases li {
    list-style: none;
    align-self: start;
  }
  #cases li a {
    display: block;
  }
  @media (min-width: 768px) {
    #cases ul {
      grid-template-columns: repeat(3, 1fr);
    }
    #cases li {
      transition: all 0.2s ease;
    }
    #cases li:hover {
      box-shadow: 0 10px 50px -30px rgba(0, 0, 0, 0.4);
      transform: translateY(-5px);
    }
  }
</style>

<div id="loading">
  <img src="/images/ui-loading.svg" width="100" alt="">
</div>
<section id="cases">
  <ul>
    <!--  -->
  </ul>
</section>

<script>
  axios.get('https://7q4yn3iplb.execute-api.ap-northeast-2.amazonaws.com/rss/ulive_')
    .then(function (response) {
      const posts = response.data;
      const cases = posts.filter(function (post) {
        return (post.category === '평가사례');
      });
      cases.forEach(function (item) {
        const {title, guid} = item;
        const postId = guid.split('/')[guid.split('/').length-1];
        const $template = $(`
          <li>
            <a href="/cases/case/?postId=${postId}"></a>
          </li>
        `);
        const $reportSheet = $(`<%- partial('_partial/report-sheet') %>`);
        $reportSheet.find('figcaption').text(title);
        $template.find('a').append($reportSheet);
        $('#cases ul').append($template);
      });
    })
    .finally((function () {
      $('#loading').remove();
    }));
</script>
