<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<style>
  #cases {
    padding: 0 0 50px;
  }
  #cases ul:after {
    content: "";
    display: block;
    clear: both;
  }
  #cases li {
    float: left;
    list-style: none;
    transition: all 0.2s ease;
  }
  #cases li:hover {
    box-shadow: 0 10px 50px -30px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }
  #cases li:nth-child(2n+1) {
    width: 48%;
  }
  #cases li:nth-child(2n) {
    width: 48%;
    margin-left: 4%;
  }
  #cases li a {
    display: block;
  }
  @media (min-width: 768px) {
    #cases li:nth-child(2n+1) {
      width: 31%;
    }
    #cases li:nth-child(2n) {
      width: 31%;
      margin-left: 3.5%;
    }
    #cases li:nth-child(3n) {
      width: 31%;
      margin-left: 3.5%;
    }
  }
</style>
<section id="cases">
  <ul>
    <!--  -->
  </ul>
</section>
<script>
  axios.get('https://7q4yn3iplb.execute-api.ap-northeast-2.amazonaws.com/rss/ulive_').then(function (response) {
    const posts = response.data;
    const cases = posts.filter(function (post) {
      return (post.category === '평가사례');
    });
    cases.forEach(function (item) {
      const {title, guid} = item;
      const postId = guid.split('/')[guid.split('/').length-1];
      const $template = $(`
        <li>
          <a href="/cases/case/?postId=${postId}"></a>
        </li>
      `);
      const $reportSheet = $(`<%- partial('_partial/report-sheet') %>`);
      $reportSheet.find('figcaption').text(title);
      $template.find('a').append($reportSheet);
      $('#cases ul').append($template);
    });
  });
</script>
