<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<style>
  @media (min-width: 768px) {
    #contact {
      display: flex;
      gap: 20px;
    }
    #contact > div {
      flex: 1;
    }
  }
</style>

<div id="contact">
  <div>
    <%- partial('_partial/faq') %>
  </div>
  <div>
    <%- partial('_partial/google-form') %>
  </div>
</div>
