<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<style>
  @media (min-width: 768px) {
    .container {
      display: flex;
    }
    .container iframe {
      flex: 1;
    }
  }
</style>

<div class="container">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduSLxqeRPrk--e5mEB5DoJloYA7pas87gU3lIVjdcpqGePog/viewform?embedded=true" width="100%" height="1550" frameborder="0" marginheight="0" marginwidth="0">로드 중…</iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.89800121305!2d127.05844787595503!3d37.510323772053226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9f3081724d63%3A0xe89540eedf8f19d0!2z7ZWY7J207YWM7YGs6rCQ7KCV7Y-J6rCA67KV7J24KOyjvCk!5e0!3m2!1sen!2skr!4v1736754734181!5m2!1sen!2skr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
