<style>
  .contact-card {
    display: block;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--color-mobile-nav-background);
    color: #fff;
    text-decoration: none;
  }
  .contact-card:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .contact-card h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .contact-card h3 i,
  .contact-card h3 img {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 30px;
  }
  .contact-card p {
    margin-top: 12px;
    line-height: 22px;
  }
</style>

<% if (type === 'online') { %>
  <a class="contact-card" href="/contact">
    <h3>
      <i class="fa fa-envelope-o"></i>
      온라인 접수
    </h3>
    <p>
      평가받고 싶은 자산<br>
      무료 상담 하세요. (탁상감정)
    </p>
  </a>
<% } %>
<% if (type === 'kakao') { %>
  <a class="contact-card">
    <h3>
      <img src="/images/ui-contact-kakao.png" width="35" height="35">
      카톡 상담
    </h3>
    <p>
      ID: <%= config.kakao %>
    </p>
  </a>
<% } %>
<% if (type === 'phone') { %>
  <a class="contact-card" href="tel:<%= config.tel %>">
    <h3>
      <i class="fa fa-address-card"></i>
      전화 상담
    </h3>
    <p>
      <u><%= config.tel %></u><br>
      <%= config.author %>
    </p>
  </a>
<% } %>