<style>
  ul.featured-services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.9375em;
    padding: 0;
    list-style: none;
    perspective: 1000px;
  }
  ul.featured-services li {
    position: relative;
    background: var(--color-mobile-nav-background);
    border-radius: 0.9375em;
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform-style: preserve-3d;
    transform: translateZ(0);
  }
  @media (min-width: 768px) {
    ul.featured-services {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25em;
    }
    ul.featured-services li:hover {
      background: #000;
      transform: scale(1.05) rotateY(-5deg) rotateZ(-0.3deg) translateZ(0.625em);
      box-shadow: 0 1.5625em 3.125em -0.75em rgba(0, 0, 0, 0.3);
    }
  }
  ul.featured-services li a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  ul.featured-services li figure {
    margin: 0;
    padding: 1.5em;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  ul.featured-services li figure big {
    white-space: nowrap;
    line-height: 1.1;
    font-size: 2.5em;
    font-weight: 800;
    color: rgba(255,255,255,0.5);
    text-shadow: 0 0.125em 0.625em rgba(0,0,0,0.3);
    background: linear-gradient(90deg,
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.8) 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease;
  }
  @media (min-width: 768px) {
    ul.featured-services li:hover figure big {
      background: linear-gradient(90deg,
        rgba(255,255,255,0.5) 0%,
        #f3b926 25%,
        rgba(255,255,255,0.8) 50%,
        #f3b926 75%,
        rgba(255,255,255,0.5) 100%
      );
      background-size: 200% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-position: -100% 0;
    }
  }
  ul.featured-services p {
    padding: 1.5em;
    font-size: 1.125em;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0 0.125em 0.25em rgba(0,0,0,0.3);
  }
  ul.featured-services li u {
    display: block;
    padding: 0 2em 2em;
    text-decoration: none;
    font-size: 0.875em;
    color: rgba(255,255,255,0.6);
  }
</style>

<ul class="featured-services">
  <li>
    <a href="https://m.blog.naver.com/ulive_/223768321848" target="_blank">
      <figure>
        <big>
          100퍼센트<br>
          배상책임확약서
        </big>
      </figure>
      <p>
        평가서 및 대리인 선임비용
      </p>
      <u>
        자세히 보기
        <i class="fa fa-angle-right"></i>
      </u>
    </a>
  </li>
  <li>
    <!-- <a href="/services"> -->
      <figure>
        <big>
          기업신용평가<br>
          등급개선
        </big>
      </figure>
      <p>
        재무재표 수정 없이 가능합니다
      </p>
      <!-- <u>
        자세히 보기
        <i class="fa fa-angle-right"></i>
      </u> -->
    <!-- </a> -->
  </li>
  <li>
    <!-- <a href="/services"> -->
      <figure>
        <big>
          하이테크는<br>
          가능합니다
        </big>
      </figure>
      <p>
        어렵고 까다로운 평가건<br>
        대한민국 최고로 잘합니다.
      </p>
      <!-- <u>
        자세히 보기
        <i class="fa fa-angle-right"></i>
      </u> -->
    <!-- </a> -->
  </li>
</ul>
