<header id="header">
  <div
    id="banner"
    style="<%= `background-image: url(${url_for(banner || theme.banner)})` %>">
    <h1><%- title %></h1>
  </div>
  <%- partial('header-outer') %>
</header>
