<header id="header">
  <div
    id="banner"
    style="<%= page.cover ? `background-image:url(${page.cover})` : 'background-image:url(/images/banner.jpg)' %>">
  </div>
  <%- partial('header-outer') %>
</header>
