<style>
  #related-links {
    padding: 40px 0;
  }
  #related-links ul {
    text-align: center;
  }
  #related-links li {
    display: inline-block;
    width: 90px;
    margin: 0 10px;
    vertical-align: middle;
  }
  #related-links li img {
    display: block;
    width: 100%;
  }
  @media (min-width: 768px) {
    #related-links li {
      width: 150px;
      margin: 0 20px;
    }
  }
</style>

<section id="related-links">
  <ul>
    <li>
      <a href="https://seereal.lh.or.kr" target="_blank">
        <img src="/images/logo-seereal.svg" alt="한국토지주택공사">
      </a>
    </li>
    <li>
      <a href="https://molit.go.kr" target="_blank">
        <img src="/images/logo-molit.svg" alt="국토교통부">
      </a>
    </li>
    <li>
      <a href="https://kapanet.or.kr" target="_blank">
        <img src="/images/logo-kapa.svg" alt="한국감정평가협회">
      </a>
    </li>
  </ul>
</section>