<style>
  .service-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media (min-width: 768px) {
    .service-item {
      flex-direction: row;
    }
  }
  .service-item figure {
    margin: 0;
  }
  .service-item figure img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    .service-item figure img {
      width: 150px;
      height: 150px;
    }
  }
  .service-item > dl {
    flex: 1;
    margin: 0;
  }
  .service-item dt {
    font-size: 20px;
    font-weight: bold;
  }
  .service-item dd {
    margin-top: 10px;
    line-height: 1.4;
  }
  #services u {
    display: inline;
    color: var(--color-text);
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
    letter-spacing: -1px;
    text-underline-offset: 8px;
    text-align: right;
    /* 수직 하단 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
</style>

<% if (item === '상속증여등기') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-7.jpg" alt="">
    </figure>
    <dl>
      <dt>상속&증여등기</dt>
      <dd>
        전문적인 상속 절차 지원<br>
        신속한 등기 처리<br>
        법적 리스크 최소화<br>
        경쟁력 있는 비용 제공
      </dd>
    </dl>
    <u>20년 경력<br>고품질 &amp; 경쟁력 있는 비용</u>
  </div>
<% } %>
<% if (item === '기업신용') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-8.jpg" alt="">
    </figure>
    <dl>
      <dt>기업신용평가 등급개선</dt>
      <dd>
        기업 신용등급 분석<br>
        등급 개선 전략 수립<br>
        성과 중심의 컨설팅<br>
        100% 성공보수 보장
      </dd>
    </dl>
    <u>14년 경력<br>실비개념 100% 성공보수</u>
  </div>
<% } %>
<% if (item === '보험상품') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-2.jpg" alt="">
    </figure>
    <dl>
      <dt>보험상품평가</dt>
      <dd>
        다양한 보험 상품 비교 분석<br>
        맞춤형 상품 추천<br>
        리스크 관리 지원<br>
        신뢰할 수 있는 평가 기준
      </dd>
    </dl>
    <u>독보적 독점적 1위</u>
  </div>
<% } %>
<% if (item === '특수소송') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-4.jpg" alt="">
    </figure>
    <dl>
      <dt>특수소송평가 (하이테크 전용)</dt>
      <dd>
        지적재산권 전문 평가<br>
        복잡한 부실채권 관리<br>
        전략적 변론 지원<br>
        하이테크 기업 특화 서비스
      </dd>
    </dl>
    <u>지적재산권, 부실채권, 변론목적 평가</u>
  </div>
<% } %>
<% if (item === '상속증여절세') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-6.jpg" alt="">
    </figure>
    <dl>
      <dt>절세목적 상속증여평가</dt>
      <dd>
        절세를 위한 전략적 평가<br>
        법적 절차의 완벽한 지원<br>
        신뢰할 수 있는 데이터 분석<br>
        무사고 기록으로 입증된 신뢰성
      </dd>
    </dl>
    <u>경쟁력 있는 평가금액<br>14년 무사고 기록</u>
  </div>
<% } %>
<% if (item === '부동산담보') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-5.jpg" alt="">
    </figure>
    <dl>
      <dt>부동산대출 담보평가</dt>
      <dd>
        대출을 위한 정확한 평가<br>
        무료 가평가 서비스 제공<br>
        신속한 평가 결과 제공<br>
        금융기관 신뢰도 높은 평가
      </dd>
    </dl>
    <u>대출을 위한 무료 가평가 제공</u>
  </div>
<% } %>
<% if (item === '부동산보상') { %>
  <div class="service-item">
    <figure>
      <img src="/images/fig-service-1.jpg" alt="">
    </figure>
    <dl>
      <dt>부동산 보상금 무료자문</dt>
      <dd>
        보상금 산정 무료 자문<br>
        전문 변호사의 법률 지원<br>
        다양한 사례 기반 상담<br>
        보상 소송의 성공적인 결과 도출
      </dd>
    </dl>
    <u>17년 보상소송 전문 변호사</u>
  </div>
<% } %>
